
*.meta
.vsconfig

Library
Temp
obj
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug
.vs
Builds
Assets/Scripts/CreateGUI - Copy.txt
Assets/Scripts/ProductVisualizeScene/PlacementWithDraggingDroppingController - Copy.txt
